body {
  color: #fff;
  margin: 0;
  text-align: center;
  background: #000;
  cursor: crosshair;
}

p {
  color: rgba(255, 255, 255, 0.5);
}

.header {
  top: 42%
}

.disable-selection {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

h1::after {
  content: 'A Future';
  font-size: 11px;
  position: absolute;
  top: 3px;
  padding-left: 5px;
  font-weight: 400;
}